
::-webkit-scrollbar{
    width: 0px;
  }

/* table  */

.manageBox{
    height: 90vh;
}

.table-box{
    flex-grow: 1;
    overflow: hidden;
}

.table{
    margin-bottom: 0px;
}

.table-body-scroll{
    flex-grow: 1;
    overflow: scroll;
}

.table td, th{
    width: 25%;
}

/* input user */

.form-inline{
    padding: 1%;
}
.form-group{    
    flex-grow: 1 !important; 
}
.form-control{
    flex-grow: 1;
}

